*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin :0;
    padding: 0;
    
}

body
{
   /*  background: linear-gradient(45deg,rgb(255, 255, 255),rgb(255, 255, 255)); */
   /* background-image: url(./img4.png); */
   background-image: url(./img2.jpg);
   background-size: 100vw 200vh;
   
}

header {
width: 100%;
height: 150px;
background-color: rgba(8, 8, 8, 0.651);
border-bottom: 3px solid black;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.statusBlock{
   z-index: 100;
   border: 1px solid black;
    position: fixed;
    right: 0px;
    height: 40px;
    width: 180px;
    background-color: rgba(255, 255, 255, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;
}
.consoleToggle {
    z-index: 100;
    border: 1px solid black;
    position: fixed;
    right: 0px;
    top: 45px;
    height: 40px;
    width: 180px;
    background-color: rgba(255, 255, 255, 0.637);
    display: flex;
    justify-content: center;
    align-items: center;
}
 .consoleToggle:hover{
    background-color: rgba(255, 255, 255, 0.815);
    cursor: pointer;
 }

.logo {
   /*  padding-left: 40px; */
    display: flex;
    color: white;
    font-size: 50px;
   align-items: center;
   justify-content: center;
  
   height: 100%;
   width: 850px;
}




   