

.loginBlock{
    z-index: 4;
    display: flex;
    margin-bottom: 120px;
    width: 100%;
    height: 250px;
    background-color: white;
   /*  background: linear-gradient(45deg,rgb(163, 49, 20),rgb(206, 184, 184)); */
    align-items: center;
    border-top: 2px solid rgb(218, 218, 218);
    border-bottom: 2px solid rgb(218, 218, 218);
   
   
}


        .autorisationStatus {
            margin-left: 40px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.336);
            border-radius: 5px;
            border-top: 2px solid rgba(0, 0, 0, 0.37);
            font-size: 25px;
            color: rgb(110, 110, 110);
                height: 140px;
                font-size: 35px;
                width: 320px;
                display: flex;
                align-items: center;
                justify-content: center;
               
            }
            #loginInput {
                border: 2px solid rgb(218, 218, 218);
                font-size: 20px;
                padding-left: 20px;
            margin-left: 90px;
            height: 70px;
            width: 250px;
            
           
            }
            #passwordInput {
                border: 2px solid rgb(218, 218, 218);
                font-size: 20px;
                padding-left: 20px;
                margin-left: 20px;
                height: 70px;
                width: 250px;
            }
            #sendAutorisation {
                border: 0px solid rgb(125, 143, 83);
                border-radius: 5px;
                margin-left: 40px;
                background-color: rgba(207, 236, 209, 0.815);
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 120px;
                
            }
            #sendAutorisation:hover {
                background-color: rgb(146, 226, 151);
                color: white;
                cursor: pointer;

            }
            .registration {
                position: absolute;
              margin-left: 89%;
                display: flex;
                box-sizing: border-box;
                color: white;
                background-color: rgba(207, 236, 209, 0.815);
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 220px;
                /* background: rgb(255, 255, 255); */
                transform:rotate(90deg) 
            }
            .registration:hover {
                box-sizing: border-box;
                background-color: rgb(146, 226, 151);
               cursor: pointer;
            }



.registrationBlock{
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    border: 2px solid rgb(218, 218, 218);
    background-color:white;
   justify-content: center;
   align-items: center;
}

        .checkbox{
            color: rgba(165, 16, 16, 0.692);
            font-size: 20px;
        margin-left: 430px;
        margin-top: -95px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;       
        }

        .registrationTip {
            height:30px; 
            margin-top: 10px; 
            font-size: 30px; 
            color:rgb(95, 95, 95);
            display:flex; 
            justify-content: center; 
            margin-bottom: 35px;
        }

        .backToLogin {
            padding-bottom: 15px;
            font-size: 25px;
            display: flex;
            justify-content: center;
            margin-bottom: 6px;
           /*  background-color: rgba(207, 236, 209, 0.815); */
            color: rgb(145, 145, 145);
        }
        .backToLogin:hover {
            color: rgb(0, 0, 0);
           cursor: pointer;
           transform: scale(1.1);
          
        }
        #loginInputR {
            border-radius: 4px;
            font-size: 20px;
            padding-left: 10px;
            width: 400px;
            height: 40px;
            border: 1px solid rgb(218, 218, 218);
        }

        #passwordInputR1 {
            border-radius: 4px;
            margin-top: 10px;
            font-size: 20px;
            padding-left: 10px;
            border: 1px solid rgb(218, 218, 218);
            height: 40px;
            width: 400px;
        }
        #passwordInputR2 {
            border-radius: 4px;
            margin-top: 10px;
            font-size: 20px;
            padding-left: 10px;
            border: 1px solid rgb(218, 218, 218);
            height: 40px;
            width: 400px;
        }

        #sendAutorisationR {
            background-color: rgba(207, 236, 209, 0.815);
            color: white;
            font-size: 20px;
            height: 30px;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 15px 0px;
            border-radius: 5px;
            display: flex;
            width: 420px;
            justify-content: center;
            align-items: center;
        }
        #sendAutorisationR:hover {
            background-color: rgb(146, 226, 151);
            cursor: pointer;
        }





.menuBlock {
    background-image: url(images/img5.jpg);
       background-size: 100% 100%;
       
    z-index: 4;
    border-radius: 10px;
    min-width: 20%;
    min-height: 370px;
    background-color: white;
     border: 2px solid  rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    justify-content: flex-start;
    align-items: center;
   
}

.menuBlock > div{
    max-height: 600px;
}




    .menuName {
        background-image: url(images/img2.jpg);
        background-size: 100% 500%;
       
       
        opacity: 0.7;
        background-repeat: no-repeat;
        box-sizing: border-box;
         width: 100%; 
        height: 65px;
        font-size: 33px;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        border: 2px solid rgb(218, 218, 218);
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuInfo {
        background-image: url(images/img2.jpg); 
         background-size: 100% 500%; 
        opacity: 0.4;

        display: flex;
        align-items: center;
        width: 100%;
        width: 100%;
        height: 45px;
       
       box-sizing: border-box;
       border-right: 0px solid black;
       border-left: 0px solid black;
       border-bottom: 4px solid rgba(145, 247, 152, 0.856);
        
    }
    
            .menuAutorisationStatus {
            margin-left: 25px;
            font-size: 23px;
            padding-left: 0px;
            color: rgb(234, 255, 252);
            }
            .text {
               /*  color: rgb(202, 202, 202); */
                color: rgb(221, 243, 252);
                color: rgb(255, 254, 254);
                padding-left: 30px;
                font-size: 24px;
            }



    .adminMenu {
        margin-top: 30px;
        display: flex;
       justify-content:center;
        flex-direction: column;
    }
    .clientMenu {
      
        margin-top: 60px;
        display: flex;
        justify-content:center;
         flex-direction: column;
    }
    .expertMenu {
      
        margin-top: 60px;
        display: flex;
        justify-content:center;
        flex-direction: column;
    }




    .menuli {
        padding: 0px 10px;
        background-color: rgba(255, 255, 255, 0.493);
        border: 1px solid  rgb(212, 212, 212);
        margin:3px 25px;
        color: rgb(199, 196, 196);
       height: 40px;
       font-size: 19px;
       border-radius: 3px;
       font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;
        box-shadow: 2px 2px 3px rgb(199, 212, 207);
    }
    .menuli:hover{
    background:rgba(207, 236, 209, 0.815);
    border: 1px solid rgb(213, 236, 217);
    cursor: pointer;
    box-sizing: border-box;
    }